.wrapper {
  margin-top: 24px;
  width: 100%;
  padding-left: 1em;
}
.colonne{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.textarea {
  border-radius: 4px;
  border: 1px solid #cccccc;
  color: #555555;
  background-color: #ffffff;
  table-layout: auto;
  width: 100%;
}

.result{
  padding-left: 1em;
}